<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.ExtentTestNGITestListener"/>
    </listeners>

    <test verbose="2" thread-count="3"
          name="D:/HydridFramework/src/test/java/testcases/LoginTest.java">
        <classes>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="loginToApplication"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" thread-count="3"
          name="D:/HydridFramework/src/test/java/testcases/AddandDelete.java">
        <classes>
            <class name="testcases.AddandDelete">
                <methods>
                    <include name="addAndDelete"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>